@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

:root {
    --color-a:rgba(255, 102, 0, 0.658);
    --color-s:rgb(255, 136, 0);
    --color-p:rgb(255, 94, 0);
    --color-1: rgba(0, 0, 0, 0.781);
    --color-2: rgba(255, 255, 255, 0.74);
    --color-3: rgb(255, 115, 0) ;
    --font-p: 'Sulphur Point', sans-serif;
    --font-s: 'Raleway', sans-serif;;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--color-2);
    z-index: 1;
}

footer{
    background-color: var(--color-1);
    height: 100px;
    width: 100vw;
    margin-top: 10px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer ul{
    display: flex;
    flex-direction: column;
    align-items: left;
}

footer ul li{
    margin-left: 20px;
}

nav{
    display: grid;
    grid-template-columns: 50% 40% 10%;
    grid-template-areas: "logo pesquisa btn";
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to left,rgb(255, 94, 0), rgb(255, 123, 0));
}

.logo-nav{
    grid-area: "logo";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-2);
    font-family: var(--font-p);
    letter-spacing: 3px;
}

.pesquisa-nav{
    grid-area: "pesquisa";
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa-nav input{
    height: 30px;
    width: 200px;
    padding-left: 5px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
}

.pesquisa-nav button{
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: solid 1px var(--color-p);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;   
}

.pesquisa-nav button img{
    height: 100%;
}

.btn-nav button{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: solid 1px var(--color-p);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;   
}

.btn-nav button img{
    height: 100%;
}
.btn-nav{
    grid-area: "btn";
    display: flex;
    justify-content: left;
    align-items: center;
}



@keyframes abrir {
    0%{
        width: 3vw;
    }

    100%{
        width: 333px;
    }
}

.slide{
    display: flex;
    flex-direction: row;
}

aside{
    position: fixed;
    height: 100vh;
    width: 0px;
    background-color: var(--color-p);
    font-size: 20px;
    z-index: 2;
}


aside ul{
    display: none;
}

aside ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: var(--font-s);
    cursor: pointer;
    text-decoration: none;
}

aside:hover ul{
    display: grid;
    grid-template-rows: 33vh 33vh 33vh;
    grid-template-areas: "x" "y" "z";
}

.aberto ul{
    display: grid;
    grid-template-rows: 33vh 33vh 33vh;
    grid-template-areas: "x" "y" "z";
}

aside:hover{
    animation: abrir 1s ease-out;
    width: 333px;
    backdrop-filter: blur(5px);
    background-color: var(--color-a);
}


@keyframes abrir {
    0%{
        width: 3vw;
    }

    100%{
        width: 333px;
    }
}


.aberto{
    animation: abrir 1s ease-out;
    width: 333px;
    backdrop-filter: blur(5px);
    background-color: var(--color-a);
}

main{
    height: 80vh;
    width: 100vw;
    display: grid;
    border-radius: none;
    z-index: 2;
    object-fit: cover;
    z-index: 1;
    border: solid 4px var(--color-s);
}
.s1,.s2,.s3{
    overflow: hidden;
    object-fit: cover;
}

#reset{
    position: absolute;
    z-index: 3;
    height: 80vh;
    left: 0;    
    opacity: 0.4;
    width: 50px;
}

#next{
    position: absolute;
    z-index: 2;
    height: 80vh;
    right: 0;
    opacity: 0.35;
    width: 50px;
}

#next:hover,#reset:hover{
    opacity: 0.75;
}

.s1 img,.s2 img,.s3 img{
    height: 100%;
    width: 100%;
}

.slide button{
    width: 3.5vw;
    border-radius: none;
    background-color: rgba(0, 0, 0, 0.74);
    border: none;
    color: aliceblue;
    z-index: 1;
}
.main-1{
    grid-template-columns: 100% 0% 0%;
}

.main-2{
    grid-template-columns: 0% 100% 0%;
}

.main-3{
    grid-template-columns: 0% 0% 100%;
}

.balls{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 0px;
}

.balls div{
    border: solid 2px var(--color-p);
    background-color: rgba(0, 225, 255, 0.781);
    border-radius: 100px;
    padding: 30px;
    height: 120px; 
    width: 120px;
    margin:  0px 5vw  0px 5vw;
    object-fit: cover;
    overflow: hidden;
}

.balls div img{
    height: 97%;
    width: 97%;
}

.cont{
    height: auto;
    width: 100vw;
    background-color: rgb(255, 245, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: var(--font-p);
}

.lugares{
    display: flex;
    flex-direction: column;
    border: solid 2px var(--color-p);
    height: 180px;
    width: 80vw;
    font-family: var(--font-s);
    border-radius: 5px;
    margin: 10px;
}

.lugares h1{
    background-color: var(--color-p);
    color: black;
    font-family: var(--font-p);
}

.lugares img{
    height: 100%;
}
.fin{
    height: auto;
    width: 100vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 102, 0, 0.582);
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/willian-justen-de-vasconcellos-7kCNXfo35aU-unsplash.jpg);
}
.fin img{
    opacity: 80%;
    transform: scale(80%);
}
.info{
    width: 50%;
    border: solid 2px rgba(0, 0, 0, 0.801);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.info h1{
    padding: 5px;
    
    height: auto;
    display: flex;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.801);
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-p);
    text-align: center;
}

.info ul{
    padding: 5px;
    height: auto;
    display: flex;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.801);
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-p);
    text-align: center;
    flex-direction: column;
    margin-top: 5px;
}

@media screen and (max-width:700px){
    main{
        height: 45vh;
    }

    .balls div{
        margin:  0px 2vw  0px 2vw;
    }
    
    #reset,#next,main{
    height: 45vh;
    }

    .lugares{
        width: 95%;
    }

    .fin{
        height: 50vh;
    }
    .info h1{
        width: 100%;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info ul li{
        margin: 5px;
    }
    .info ul li{
        overflow: hidden;
    }
}

@media screen and (max-width:500px){
    .balls div{
        margin:  0px 2.5vw  0px 2.5vw;
        height: 70px;
        width: 70px;
        padding: 0;
    }
    .fin{
        height: 400px;
    }
    .info{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}